{% extends 'ecommerce/main.html' %}
{% load static %}
{% block content %}
<div class="container mx-auto px-4 py-6 bg-gray-600 text-white">
    <h1 class="text-xl font-bold mb-2">Checkout</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-6">
        <!-- Shipping Details -->
        <div id='form-wrapper'>
            <form id='form'>
                <div id='user-info' class='flex flex-col bg-orange-300 h-fit p-2 mb-4'>
                    <div class='mb-2'>
                        <input required class="p-2 border rounded w-full" type='text' name='name' placeholder='Name'>
                    </div>
        
                    <div class=''>
                        <input required class="p-2 border rounded w-full" type='email' name='email' placeholder='Email'>
                    </div>
                </div>
        
                <div id='shipping-info'>
                    <h2 class="text-xl font-semibold mb-4">Billing & Shipping</h2>
                    <div class="mb-2">
                        <label class="block text-sm mb-2" for="address">Address</label>
                        <input type="text" class="p-2 border rounded w-full" id="address" placeholder="123 Main St">
                    </div>
                    <div class="mb-2">
                        <label class="block text-sm mb-2" for="city">City</label>
                        <input type="text" class="p-2 border rounded w-full" id="city" placeholder="Cityville">
                    </div>
                    <div class="mb-2">
                        <label class="block text-sm mb-2" for="state">State</label>
                        <input type="text" class="p-2 border rounded w-full" id="state" placeholder="Stateville">
                    </div>
                    <div class="mb-2">
                        <label class="block text-sm mb-2" for="zipcode">Zip Code</label>
                        <input type="text" class="p-2 border rounded w-full" id="zipcode" placeholder="12345">
                    </div>
                </div>
        
                <hr>
                <input id='form-button' type='submit' value='Continue' class='w-full h-10 rounded bg-red-500'>
            </form>
        </div>

        <!-- Order Summary -->
        <div class=''>
            <h2 class="text-xl font-semibold mb-4">Order Summary</h2>

            <div class="flex justify-between mb-4">
                <span>Total items</span>
                <span>{{order.get_cart_items}}</span>
            </div>

            <div class="flex justify-between font-bold">
                <span>Total price</span>
                <span>₹{{order.get_cart_total}}</span>
            </div>

            <!-- Payment Information -->
            <div id='payment-info' class='hidden rounded text-center align-middle mt-4'>
                <button id='make-payment' class="bg-blue-600 text-white w-full mt-6 py-2 rounded hover:bg-cyan-500 focus:outline-none">
                    Confirm and Pay
                </button>
            </div>
        </div>
    </div>
</div>
 
<script>
    let shipping = '{{order.shipping}}'

    let total = '{{order.get_cart_total}}'


    if (shipping == 'False') {
        document.getElementById('shipping-info').innerHTML = '';
    }

    if (user != 'AnonymousUser') {
        document.getElementById('user-info').innerHTML = ''
    }

    if (shipping == 'False' && user != 'AnonymousUser'){
        //Hide entire form if user is logged in and shipping is false
        document.getElementById('form-wrapper').classList.add("hidden");
        //Show payment if logged in user wants to buy an item that does not require shipping
        document.getElementById('payment-info').classList.remove("hidden");
    }

    let form = document.getElementById('form')
    form.addEventListener('submit', function(e) {
        e.preventDefault()
        console.log('Form submitted')
        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
    })

    document.getElementById('make-payment').addEventListener('click', function(e) {
        submitFormData()
    })

    function submitFormData() {
        console.log('Button clicked!')

        let userFormData = {
            'name' : null,
            'email' : null,
            'total' : total,
        }

        let shippingInfo = {
            'address' : null,
            'city' : null,
            'state' : null,
            'zipcode' : null,
        }

        if (shipping != 'False') {
            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.zipcode = form.zipcode.value
        }

        if (user == 'AnonymousUser') {
            userFormData.name = form.name.value
            userFormData.email = form.email.value
        }

        console.log('Shipping Info:', shippingInfo)
	    console.log('User Info:', userFormData)

        let url = '/process_order/'
        fetch(url, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({'form': userFormData, 'shipping': shippingInfo})
        })
        .then((response) => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then((data) => {
            console.log('data:', data);
            alert('Transaction complete!')
            window.location.href = "{% url 'store' %}"
        })
        .catch((error) => {
            console.log('There was a problem with the fetch operation:', error.message);
        });
    }
</script>

{% endblock content %}