{% extends 'ecommerce/main.html' %}
{% load static %}
{% block title %} Ecommerce | Login {% endblock %}

{% block content %}

{% comment %} {% if error %}
    <div id="login_err" class="flex w-full fixed bg-red-400 text-center justify-center left-0 top-14 items-center text-lg h-10">{{ error }}</div>
{% endif %} {% endcomment %}

<div class="flex relative justify-center top-20 px-4 sm:px-6">
    <div class="bg-slate-400 rounded-md p-3">
        <div>
            <h2 class="text-center text-3xl font-extrabold text-gray-900">
                Sign in to your account
            </h2>
            <p class="mt-2 text-center text-sm text-gray-600">
                Or <a href="{% url 'register' %}" class="font-medium text-blue-600 hover:text-blue-500">
                create a new account
                </a>
            </p>
        </div>
        <form method="post" class="space-y-6">
            <div id='user-info' class='flex flex-col text-black rounded-md h-fit p-1 my-4'>
                <div class='mb-2'>
                    <input required id='username' class="p-2 border rounded w-full" type='text' name='username' placeholder='Username or Email or Phone no.'>
                </div>
    
                <div class=''>
                    <input required class="p-2 border rounded w-full" type='password' name='password' placeholder='Password'>
                </div>
            </div>
            <div>
                <button type="submit" class="group w-full py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                Login
                </button>
            </div>
        </form>
    </div>
</div>

{% comment %} <script>

    let hideErr = document.querySelector('#login_err'); 

    hideErr.addEventListener('click', function() {
        hideErr.style.display = 'none';
    });

</script> {% endcomment %}

{% endblock content %}