{% extends 'ecommerce/main.html' %}
{% load static %}
{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full">
        <div>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                Sign in to your account
            </h2>
            <p class="mt-2 text-center text-sm text-gray-600">
                Or <a href="{% url 'register' %}" class="font-medium text-blue-600 hover:text-blue-500">
                create a new account
                </a>
            </p>
        </div>
        <form class="mt-8 space-y-6">
            <div>
                <label for="username-email" class="sr-only">Username or Email</label>
                <input id="username-email" name="username-email" type="text" required class="block w-full p-3 rounded-md shadow-sm placeholder-gray-400 focus:ring-blue-500 focus:border-blue-500 sm:text-sm" placeholder="Username or Email">
            </div>
            <div>
                <label for="login-password" class="sr-only">Password</label>
                <input id="login-password" name="password" type="password" required class="block w-full p-3 rounded-md shadow-sm placeholder-gray-400 focus:ring-blue-500 focus:border-blue-500 sm:text-sm" placeholder="Password">
            </div>
            <div>
                <button type="submit" class="group w-full py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                Login
                </button>
            </div>
        </form>
    </div>
</div>


{% endblock content %}