{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
<!-- Navigation bar -->
<nav class="bg-slate-500 text-white fixed top-0 w-full">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-14">
        <!-- Logo -->
        <div class="flex-shrink-0 flex items-center">
          <a href="{% url 'store' %}" class=" font-bold text-lg">StorE</a>
        </div>
        <!-- Menu button -->
        <div class="absolute inset-y-0 right-0 flex items-center sm:hidden">
          <button id="menu-toggle" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
            <span class="sr-only">Open main menu</span>
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <!-- Desktop menu -->
        <div class="hidden sm:block sm:ml-6">
            <div class="flex space-x-0">
                <a href="{% url 'cart' %}" class="flex h-14 items-center hover:bg-gray-600 transition duration-300 px-2 py-1 text-lg font-medium">
                    <span class=''>Cart</span>
                    <img class="relative w-6 h-6 ml-1" src="{% static 'images/shoppingcart.png' %}">
                    <p class='relative bottom-2 right-1 text-sm bg-slate-700 w-5 h-5 text-center rounded-full'>{{cartItems}}</p>
                </a>
                {% if user.is_authenticated %}
                    <a href="#" id='user_profile' class="flex h-14 items-center hover:bg-gray-600 transition duration-300 pl-2 py-1 text-lg font-medium">
                        <img class="relative w-5 h-5 mr-1" src="{% static 'images/loggedin.png' %}" alt="Logged in!">
                        <span class='ml-1 pr-2 effect'>{{request.user}}</span>
                    </a>
                    <a href="{% url 'logout' %}" id='logout_btn' class="flex h-14 items-center hover:bg-gray-600 transition duration-300 px-2 py-1 text-lg font-medium">
                    {% comment %} <img class="relative w-5 h-5 mr-1" src="{% static 'images/login.png' %}" alt=""> {% endcomment %}
                    <span>Logout</span>
                    </a>
                {% else %}
                    <a href="{% url 'login' %}" id='login_btn' class="flex h-14 items-center hover:bg-gray-600 transition duration-300 px-2 py-1 text-lg font-medium">
                        <img class="relative w-5 h-5 mr-1" src="{% static 'images/login.png' %}" alt="Login?">
                        <span>Login</span>
                    </a>
                {% endif %}
            </div>
        </div>
        <!-- Mobile menu (hidden by default) -->
        <div id="mobile-menu" class="sm:hidden absolute top-16 right-0 w-48 bg-gray-800 border rounded-md shadow-lg">
            <a href="{% url 'login' %}" class="block text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"><strong>Login</strong></a>
            <a href="{% url 'cart' %}" class="block text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"><strong>Cart</strong>{{cartItems}}</a>
        </div>
      </div>
    </div>
</nav>

<script>
    document.getElementById('menu-toggle').addEventListener('click', function() {
        const mobileMenu = document.getElementById('mobile-menu');
        mobileMenu.style.display = (mobileMenu.style.display === 'none' || mobileMenu.style.display === '') ? 'block' : 'none';
    });
    //document.addEventListener('DOMContentLoaded', function() {
    //    if (user != 'AnonymousUser') {
    //        document.getElementById('login_btn').style.display = "none";
    //    }
    //    else {
    //        document.getElementById('user_profile').style.display = "none";
    //    }
    //});
</script>

  